<a href="{% url 'blog_app:index' %}"><h1>Blog app</h1></a>
{% if user.is_authenticated %}
    <hr />
    <a href="{% url 'blog_app:user_posts' %}">Your posts</a>
    <a href="{% url 'blog_app:add_post' %}">Create new post</a> -
    <form action="{% url 'accounts:logout' %}" method='post'>
        {% csrf_token %}
        <button name='logout'>Log out</button>
    </form>
{% else %}
    <a href="{% url 'accounts:register' %}">Register</a> -
    <a href="{% url 'accounts:login' %}">Log in</a>
{% endif %}
{% block content %}{% endblock content %}