{% extends 'blog_app/base.html' %}
{% block content %}
<h1>Logged in?</h1>
{% if user.is_authenticated %}
    Hello, {{ user.username }}.
{% else %}
    <a href="{% url 'accounts:login' %}">Log in</a>
{% endif %}

<h1>My blog posts</h1>
    <ul>
        {% for post in posts %}
        <h3> {{ post.title }} </h3>
        <p> {{ post.content }} </p>
        <p> {{ post.date_posted }} </p>
        <p> Category: {{ post.category }} </p>
        <br />
        {% endfor %}
    </ul>
    
{% endblock content %}